<todo_Search>

    <div class="container">
    <form id="todoSearch">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" name="ticketNumber" class="form-control" placeholder="Search a ticket" value=""/>
            </div>
            <div class="form-group">
                <button id="search_todo" onclick={search}>Submit</button>
            </div>
        </div>
    </div>
    </form>
    </div>

    <script>
        console.log(opts);
        var tag = this;
        var todos = opts.todos;

        tag.search = function() {
            if (tag.ticketNumber.value) {
                todos.add({ "name" : tag.name.value, "number" : tag.phone.value, "msg" : tag.msg.value });
                tag.ticketNumber.value = '';
            }
        }
    </script>

</todo_Search>